<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.foodnow"
    android:screenOrientation="portrait"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- formost things inlcuding card.io card scanning -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Camera features -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="client.home.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="client.home.FromServer1"
            android:label="@string/title_activity_from_server1"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.home.UserInput"
            android:label="@string/title_activity_user_input"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.home.CurrentConnected"
            android:label="@string/title_activity_current_connected"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.menu.MenuActivity"
            android:label="@string/title_activity_menu"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.orders.OrderActivity"
            android:label="@string/title_activity_order"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.orders.PaypalPaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.orders.OrderSentFragment"
            android:label="@string/title_activity_order_confirmed_fragment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.orders.ConfirmOrderDialog"
            android:label="@string/title_activity_confirm_order_dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.menu.AddToPlateDialog"
            android:label="@string/title_activity_add_to_plate_dialog"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.general.SettingsPreferenceActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.home.HomeTab"
            android:label="@string/title_activity_home_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.menu.MenuTab"
            android:label="@string/title_activity_menu_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="client.orders.OrderTab"
            android:label="@string/title_activity_order_tab"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.foodnow.NutritionTab"
            android:label="@string/title_activity_nutrition_tab" >
        </activity>
    </application>

</manifest>